**/src/screens/RecipeItemScreen/index.js
**/src/utils/GlobalFunctions.js
**/src/screens/components/CountDown/index.js
**/src/screens/HomeTab/index.js
**/src/screens/components/Tips/TipsAway.js
**/index.js
**/index.android.js
**/index.ios.js